In [1]:
import findspark
findspark.init()
from pyspark import SparkContext
sc = SparkContext()
#sc.stop()

In [15]:
input = sc.textFile("C:\\spark-2.4.3\\examples\\src\\main\\resources\\people.json")

In [16]:
import json
data = input.map(lambda x:json.loads(x))
data.take(3)

[{'name': 'Michael', 'age': 29},
 {'name': 'Andy', 'age': 30},
 {'name': 'Justin', 'age': 19}]

In [17]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

In [18]:
names_df_sql = sqlContext.read.json("C:\\spark-2.4.3\\examples\\src\\main\\resources\\people.json")

In [19]:
names_df_sql.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [13]:
names_df_sql.registerTempTable("names_temp_table_sql")

In [24]:
sqlDF_sql = sqlContext.sql("select distinct name from names_temp_table_sql")
sqlDF_sql.show()
#sqlDF_sql.collect()

+-------+
|   name|
+-------+
|Michael|
|   Andy|
| Justin|
+-------+

In [20]:
from pyspark.sql import SQLContext
import pyspark
from pyspark.sql import Row
import csv


sql_c = SQLContext(sc)
df = sql_c.read.csv('C:\\spark-2.4.3\\examples\\src\\main\\resources\\people.csv')

In [21]:
rdd = sc.textFile('C:\\spark-2.4.3\\examples\\src\\main\\resources\\people.csv').map(lambda line: line.split(","))

In [22]:
rdd.collect()

[['name;age;job'], ['Jorge;30;Developer'], ['Bob;32;Developer']]