In [222]:
import findspark
findspark.init()
from pyspark import SparkContext
from pyspark.sql import SparkSession
sc = SparkContext()
#sc.stop()

In [223]:
spark = SparkSession \
.builder \
.appName("Spark Assignment 3") \
.config("spark.some.config.option", "some-value") \
.getOrCreate()

In [224]:
df = spark.read.csv("C:\\Users\\sures\\Downloads\\Fake_data.csv", header = True)

In [225]:
df.show()

+---+--------------------+--------------------+----------+------+--------------------+---------+-------------+-----------+
|_c0|       Birth_Country|               Email|First_Name|Income|                 Job|Last_name|Loan_Approved|        SSN|
+---+--------------------+--------------------+----------+------+--------------------+---------+-------------+-----------+
|  0|Bosnia and Herzeg...|emily15@whitehead...|   Melissa|109957|Telecommunication...|  Miranda|        FALSE|129-41-7773|
|  1|             Belgium|  ronald87@yahoo.com|    Curtis|301884| Animal nutritionist|  Garrett|         TRUE|212-74-3976|
|  2|      United Kingdom|  hannah29@gmail.com|    Connor|341584|English as a fore...|   Steele|        FALSE|024-35-3834|
|  3|            Kiribati|derrick59@hotmail...|      Adam|448293|Surveyor, commerc...|   Newman|        FALSE|157-82-4486|
|  4|            Malaysia|wendycarpenter@wa...|     Jared| 53621|   Drilling engineer|     Mann|         TRUE|199-56-2824|
|  5|             Austria|hcisneros@hotmail...|   Stephen|195746|Commercial/reside...|    Smith|        FALSE|856-86-2689|
|  6|              Cyprus|cookdawn@harringt...|Alexandria|121200|   Designer, graphic|    Berry|         TRUE|526-65-0200|
|  7|                Cuba|robertrodriguez@g...|   Natasha| 68126|Chief Strategy Of...|     Kemp|         TRUE|246-26-3710|
|  8|      Western Sahara|lfreeman@cervante...|     James|199588|Engineer, mainten...|   Taylor|         TRUE|868-13-4858|
|  9|               Sudan| bryan65@booker.info|    Briana| 77960|Psychotherapist, ...|  Swanson|         TRUE|102-09-9465|
| 10|             Armenia|jennifer24@lynch-...| Alexandra| 75778|      Water engineer|    Simon|        FALSE|217-96-3391|
| 11|        Turkmenistan| pwilliams@gmail.com|    Angela|411687|Occupational psyc...|   Abbott|        FALSE|638-49-9216|
| 12|          Costa Rica|  xflores@carter.biz|    Robert|141750|Control and instr...|    House|         TRUE|639-07-5705|
| 13|             Albania|amberphillips@hot...|     Holly|344920|Maintenance engineer|   Hodges|        FALSE|144-88-5955|
| 14|           Nicaragua| swerner@randall.com|     David| 95188|Research officer,...|      Fox|         TRUE|783-99-1364|
| 15|United States Vir...| uanderson@leach.net|    Calvin|333718|     Arboriculturist|  Hopkins|        FALSE|771-16-4394|
| 16|Falkland Islands ...|    imccoy@gmail.com|     James|404292|    Doctor, hospital|    Payne|         TRUE|026-73-1259|
| 17|               Aruba|josephdavis@duart...|   Zachary|366990|Rural practice su...|  Stanley|        FALSE|488-61-6413|
| 18|               Kenya|    kboyle@yahoo.com|    Martha|364873|Designer, ceramic...|   Taylor|         TRUE|702-67-7925|
| 19|      Norfolk Island|    xjones@yahoo.com|     Dylan|479768|Engineer, mainten...|      Lee|        FALSE|548-15-3563|
+---+--------------------+--------------------+----------+------+--------------------+---------+-------------+-----------+
only showing top 20 rows

In [226]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- Birth_Country: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- First_Name: string (nullable = true)
 |-- Income: string (nullable = true)
 |-- Job: string (nullable = true)
 |-- Last_name: string (nullable = true)
 |-- Loan_Approved: string (nullable = true)
 |-- SSN: string (nullable = true)

In [227]:
df.createOrReplaceTempView("people")

In [228]:
#1) Find birth country which has highest amount of people
sqlDF = spark.sql("SELECT Birth_Country, count(*) maximum FROM people GROUP BY Birth_Country ORDER BY maximum DESC")
sqlDF.show(1)

+-------------+-------+
|Birth_Country|maximum|
+-------------+-------+
|        Korea|     91|
+-------------+-------+
only showing top 1 row

In [229]:
#2) Find average income of people who are born in united states of america
sqlDF = spark.sql("SELECT AVG(cast(Income as int)) FROM people WHERE people.Birth_Country = 'United States of America' ")
sqlDF.show()

+------------------------+
|avg(CAST(Income AS INT))|
+------------------------+
|      208759.82352941178|
+------------------------+

In [230]:
#3) How many people has income over 100,000 but their loan is not approved.
sqlDF = spark.sql("SELECT COUNT(people.Income) FROM people WHERE cast(Income as int) > 100000 AND Loan_Approved = 'FALSE'")
sqlDF.show()

+-------------+
|count(Income)|
+-------------+
|         4009|
+-------------+

In [231]:
#4) Find top 10 people with highest income in United States of america. (Print their names, income and jobs)
sqlDF = spark.sql("SELECT First_Name, Income, Job FROM people WHERE Birth_Country = 'United States of America' ORDER BY cast(Income as int) DESC")
sqlDF.show(10)

+----------+------+--------------------+
|First_Name|Income|                 Job|
+----------+------+--------------------+
|    Alyssa|482588|Amenity horticult...|
|    Hunter|468946|Psychologist, pri...|
|      Rose|426115|Adult guidance wo...|
|  Danielle|389810|Furniture conserv...|
|     Terry|380410|       Meteorologist|
|     Cindy|370322|Research scientis...|
|     Scott|368913|       Art therapist|
|   Christy|355150|      Engineer, land|
|     Kelly|341448|           Press sub|
|  Kristina|338804|           Herbalist|
+----------+------+--------------------+
only showing top 10 rows

In [232]:
# 5) How many number of distinct jobs are there?
sqlDF = spark.sql("SELECT COUNT (DISTINCT Job) from people")
sqlDF.show()

+-------------------+
|count(DISTINCT Job)|
+-------------------+
|                639|
+-------------------+

In [233]:
# 6) How many writers earn less than 100,000? 
sqlDF = spark.sql("SELECT COUNT (Job = 'Writer') from people WHERE Income < 100000")
sqlDF.show()

+---------------------+
|count((Job = Writer))|
+---------------------+
|                 2033|
+---------------------+